Source: stsbl-iserv-perl-lib
Section: perl
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-perl-lib
Architecture: all
Depends: iserv-portal,
         libfile-touch-perl,
         libipc-run-perl,
         libnet-openssh-perl,
         libnet-scp-expect-perl (>= 0.16-1+stsbl3),
         libpath-tiny-perl,
         ${misc:Depends},
         ${perl:Depends}
Replaces: stsbl-iserv-linux-support (<< 17.05.04)
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: Perl-Bibliotheken für IServ
 Enthält Perl-Bibliotheken für die IServ-Systemprogrammierung, die häufig
 verwendete Funktionen enthalten.
 .
 Komponenten:
 .
 - Stsbl::IServ::Security - Anmeldung am sessauthd und Rechteüberprüfung.
 - Stsbl::IServ::IO - Ein-/Ausgabefunktionen
 - Stsbl::IServ::Log - Hilfsfunktionen für das Logging.
 - Stsbl::IServ::OpenSSH - SSH-Client
 - Stsbl::IServ::SCP - SCP-Client
Tag: implemented-in::perl
